<div style="height: 350px;" class="bg-dark text-light mt-5 d-flex  justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-between  w-100 mb-2 p-3">
        <div class="about w-25">
            <h3>Quick Cart</h3>
              <p class="mt-3">A shopping cart on an online retailer's site is a piece of  </p>
              <p>software that facilitates the purchase of a product or service.</p>
              <p>  It accepts the customer's payment and organizes the distribution. </p>
              <p>Currently v5.3.2</p>

        </div>
        <div class="help">
            <h3>Help</h3>
            <div class="d-flex flex-column mt-3">
                <a class="btn text-light" routerLink="">Home</a>
                <a class="btn text-light" routerLink="Cart">Cart</a>
                <a class="btn text-light" routerLink="Wishlist">Wishlist</a>
               </div>
        </div>
        <div class="address">
            <h3>Registred Address</h3>
            <h5 class="mt-3">Manhattan PO</h5>
            <h5>Near Center Square</h5>
            <h5>456837</h5>
        </div>
        <div   class="contact us" >
            <h3>Contact Us</h3>
            <div class="d-flex mt-3">
                <input placeholder="Contact Us" type="text" class="form-control me-2">
                <div class="btn btn-warning"><i class="fa-solid fa-arrow-right"></i></div> 
            </div>
            <div style="height: 100px;"  class="icons d-flex justify-content-between mt-3">
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-square-x-twitter fa-2x"></i>
                <i class="fa-brands fa-square-instagram fa-2x"></i>
                <i class="fa-solid fa-envelope fa-2x"></i>
                <i class="fa-brands fa-tiktok fa-2x"></i>
                <i class="fa-brands fa-github fa-2x"></i>
            </div>
        </div>
        </div>
    <p class="text-center">All Rights reserved &copy; Quick Cart &reg; 2023</p>
</div>
